// FORM STYLES ////////////////////////////////////////////
main.registro {
    padding-top: 100px;
    width: 100%;
    height: 100vmin;
    background-image: url('../../images/amazonia.jpg');
    background-attachment: fixed;
    form#sing-up {
        width: 350px;
        height: 600px;
        margin: 0 auto;
        padding: 20px;

        
    
        border: 1px solid var(--primary-color);
        border-radius: 15px;
        background-color: rgba($color: white, $alpha: 0.3);

        label {
            margin: 0;
            font-family: var(--primary-font-amatic);
            line-height: 30px;
            font-size: 20px;
            font-weight: 600;
            color: var(--primary-color);
        }
        label#checkbox {
            font-size: 16px;
        }
        input {
            width: 100%;
            height: 25px;
            margin-bottom: 12px;
            padding-left: 10px;

            font-family: var(--second-font-merriweather);
            font-size: 14px;
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--primary-color);
            outline: none;

            &:focus {
                outline: none;
                border-radius: 3px;
                background: rgba($color: white, $alpha: 0.7);
            }
            &:active {
                outline: none;
            }
        }
        input#data-usage {
            width: 15px;
            height: 15px;
            margin-left: 3px;
        }
        select {
            width: 100%;
            height: 25px;
            margin-bottom: 12px;
            border: none;
            border-radius: 3px;

            font-family: var(--second-font-merriweather);
            font-size: 12px;
            background:rgba($color: white, $alpha: 0.6);

            &:focus {
                outline: none;
            }
            &:active {
                outline: none;
            }
        }

        button {
            width: 70px;
            height: 35px;
            margin-top: 15px;
            border-radius: 5px;
            outline: none;
            font-family: var(--primary-font-amatic);
            font-size: 20px;
            font-weight: 500;

            &:hover {
                // border-radius: ;
                background: rgba(33, 37, 41, 0.5);
                color: var(--second-color);
            }
        }
    
    }

    button.return-home {
        width: 130px;
        height: 60px;

        position: absolute;
        top: 0;
        left: 0;

        border-bottom-right-radius: 20px;
        border: 1px solid black;
        font-family: var(--primary-font-amatic);
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        background: transparent;
    }


}
