#side-menu {
    width: 120px;
    height: auto;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    top: 40vmin;
    z-index: 9;

    // border: 1px solid black;
    border-radius: 0 10px 10px 0;
    background-color: rgb(92, 95, 97, 0.5);

    ul.container-options {
        width: 100%;
        list-style: circle;
        
        li{
            display: block;
            height: 30px;
            text-decoration: none;
            outline: none;
            font-family: var(--primary-font-amatic);
            font-size: 17px;
            font-weight: 500;
            
            a {
                display: block;
                line-height: 30px;
                color: white;
            }
        }
    }
}