@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --logo-font-ephesis:  'Ephesis', cursive;
    --primary-font-amatic: 'Amatic SC', cursive;
    --second-font-merriweather: 'Merriweather', serif;

    --primary-color: rgb(33, 37, 41);
    --second-color: rgb(81, 255, 255);
    --third-color: rgba(235, 232, 232, 0.883);
}